/**
***     Border Utilities
**/


$default-border-style: solid;
$border-widths: (
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    8,
    10,
    12,
    14,
    16
);

@each $width in $border-widths {
    .border-#{$width} {
        border-width: #{$width}px;
        border-style: $default-border-style;
    }
}

@each $width in $border-widths {
    .border-x-#{$width} {
        border-left-width: #{$width}px;
        border-right-width: #{$width}px;
        border-style: $default-border-style;
    }

    .border-y-#{$width} {
        border-top-width: #{$width}px;
        border-bottom-width: #{$width}px;
        border-style: $default-border-style;
    }
}

@each $width in $border-widths {
    .border-t-#{$width} {
        border-top-width: #{$width}px;
        border-style: $default-border-style;
    }

    .border-b-#{$width} {
        border-bottom-width: #{$width}px;
        border-style: $default-border-style;
    }

    .border-l-#{$width} {
        border-left-width: #{$width}px;
        border-style: $default-border-style;
    }

    .border-r-#{$width} {
        border-right-width: #{$width}px;
        border-style: $default-border-style;
    }
}

$border-styles: (
    'solid',
    'dashed',
    'dotted',
    'double',
    'none'
);

@each $style in $border-styles {
    .border-style-#{$style} {
        border-style: $style;
    }
}

$border-radius-sizes: (
    2xs: 0.125rem,
    sm: 0.25rem,
    md: 0.375rem,
    lg: 0.5rem,
    xl: 0.875rem,
    2xl: 1rem,
    3xl: 1.125rem,
    4xl: 1.25rem,
    5xl: 1.50rem,
    6xl: 1.75rem,
    7xl: 2rem,
);

@each $size, $value in $border-radius-sizes {
    .rounded-#{$size} {
        border-radius: $value;
    }
}

@each $size, $value in $border-radius-sizes {
    .rounded-t-#{$size} {
        border-top-left-radius: $value;
        border-top-right-radius: $value;
    }

    .rounded-b-#{$size} {
        border-bottom-left-radius: $value;
        border-bottom-right-radius: $value;
    }

    .rounded-l-#{$size} {
        border-top-left-radius: $value;
        border-bottom-left-radius: $value;
    }

    .rounded-r-#{$size} {
        border-top-right-radius: $value;
        border-bottom-right-radius: $value;
    }
}

.rounded-full {
    border-radius: calc(infinity * 1px);
}

.rounded-none {
    border-radius: 0
}

// TODO: colouring module