/**
*** Container Utilities (predefined width)
**/

$container-sizes: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xlg': 1280px,
    'xxlg': 1536px
);

@each $name, $width in $container-sizes {
    .container-#{$name} {
        max-width: $width;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}