/**
***     Height Utilities
**/

$height-sizes: (
    '2xs': 15rem,
    'xs': 30rem,
    'sm': 35rem,
    'md': 40rem,
    'lg': 45rem,
    'xlg': 50rem,
    '2xlg': 55rem,
    '3xlg': 60rem,
    '4xlg': 65rem,
    '5xlg': 70rem,
    '6xlg': 75rem,
    '7xlg': 80rem
);


@mixin height-utilities($map) {
    @each $key, $value in $map {
        .h-#{$key} {
            height: $value;
        }

        .min-h-#{$key} {
            min-height: $value;
        }

        .max-h-#{$key} {
            max-height: $value;
        }
    }
}

@include height-utilities($height-sizes);

.h-full {
    height: 100%;
}

.h-fit {
    height: fit-content;
}

.h-max {
    height: max-content;
}

.h-screen {
    height: 100vw;
}

.h-auto {
    height: auto;
}