/**
***     Spacing Utilities
**/

/*
** Generate key-values for p, px, py and m, mx, my.
** Runs $max-iterations (jumps per 2, 0, 2, 4, ...) and increments 
** the value by 0.25rem per iter
**
** Default ($max-iterations): 50 (results in a max rem of 6.25 which is 100px)
*/

$max-iterations: 50; // amount of iterations to jump through

@for $i from 0 through (calc($max-iterations / 2)) {
    $key: $i * 2; // jump per 2
    $value: $i * 0.25rem; // jump per 0.25

    .p-#{$key} {
        padding: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}


/*
** Generate named-values for p, px, py and m, mx, my.
**
** Uses hard coded values to determine the size (from 4px up to 40px)
**
*/

$spacing-named: (
    'xs': 0.25rem,
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 1.5rem,
    'xlg': 2rem,
    'xxlg': 2.5rem
);


@each $key, $value in $spacing-named {
    .p-#{$key} {
        padding: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}


/*
** Static macros that aren't automated
*/

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}