/**
***     Spacing Utilities
**/


$max-iterations: 50; // amount of iterations to jump through

@for $i from 0 through (calc($max-iterations / 2)) {
    $key: $i * 2;
    $value: $i * 0.25rem;

    .p-#{$key} {
        padding: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

$spacing-named: (
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 1.5rem,
    'xlg': 2rem,
    'xxlg': 3rem
);

@mixin spacing-utilities($map, $suffix: '') {
    @each $key, $value in $map {
        .p-#{$key}#{$suffix} {
            padding: $value;
        }

        .px-#{$key}#{$suffix} {
            padding-left: $value;
            padding-right: $value;
        }

        .py-#{$key}#{$suffix} {
            padding-top: $value;
            padding-bottom: $value;
        }

        .m-#{$key}#{$suffix} {
            margin: $value;
        }

        .mx-#{$key}#{$suffix} {
            margin-left: $value;
            margin-right: $value;
        }

        .my-#{$key}#{$suffix} {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}

@include spacing-utilities($spacing-named);

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}