/**
***     Spacing Utilities
**/

$max-iterations: 50; // amount of iterations to jump through

@for $i from 0 through (calc($max-iterations / 2)) {
    $key: $i * 2; // jump per 2
    $value: $i * 0.25rem; // jump per 0.25

    .p-#{$key} {
        padding: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

$spacing-named: (
    'xs': 0.25rem,
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 1.5rem,
    'xlg': 2rem,
    '2xlg': 2.5rem
);


@each $key, $value in $spacing-named {
    .p-#{$key} {
        padding: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}