/**
***     Width Utilities
**/

$width-sizes: (
    '2xs': 15rem,
    'xs': 30rem,
    'sm': 35rem,
    'md': 40rem,
    'lg': 45rem,
    'xlg': 50rem,
    '2xlg': 55rem,
    '3xlg': 60rem,
    '4xlg': 65rem,
    '5xlg': 70rem,
    '6xlg': 75rem,
    '7xlg': 80rem
);

@mixin width-utilities($map) {
    @each $key, $value in $map {
        .w-#{$key} {
            width: $value;
        }

        .min-w-#{$key} {
            min-height: $value;
        }

        .max-w-#{$key} {
            max-height: $value;
        }
    }
}

@include width-utilities($width-sizes);

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-max {
    width: max-content;
}

.w-screen {
    width: 100vw;
}

.w-auto {
    width: auto;
}