@use './spacing';
@use './width';
@use './height';
@use './container';
@use './borders';

/**
***     Global Configuration
**/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
}